.login-mesagge {
    width: 100dvw;
    display: flex;
    justify-self: center;
    justify-content: center;
    gap: 5px;
    color: white;
    background-color: var(--grey);
    position: absolute;
    left: 0;
}

.login-mesagge span { 
   width: 80%;
   text-align: center;
}

.login-mesagge a {
    color: white!important;
    text-decoration: underline!important;
}

/* Product Card */
.img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    overflow: hidden;
}

.prod-card-img {
    object-fit: cover;
    display: block;
    height: 100%;
    width: auto;
    image-rendering: auto;
}

.novelty-mark {
    position: absolute;
    top: -5px;
    right: 5px;
    background-color: var(--light);
    color: var(--font-light);
    padding: 2px 10px;
    font-size: 14px;
}

.prod-card-description {
    height: 15%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    min-height: fit-content;
}

.prod-card-description p{
    font-size: 20px;
}

.prod-name h4,
.prod-name h5,
.prod-card-characteristics h5 {
    font-family: 'Roboto Flex', sans-serif !important;
    color: var(--black);
    padding: 4px;
    padding-bottom: 0;
    font-size: 18px;
    margin: 0;
    text-wrap-mode: nowrap;
    text-transform: uppercase;
}

.prod-name {
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-bottom: 1px solid var(--black);
}

.prod-card-cont{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 5px;
    background-color: white;
}

.prod-card-cont.prod-card-description p {
    font-size: large;
    padding-top: 4px;
}

/* Page List products */
.prod-list-cont {
    max-width: 1200px;       
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

li.prod-list-li {
    height: 700px;
    width: 480px;
    max-width: 90dvw;
    border: 1px solid var(--light);
}

ul.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, 145px);
}

li.categories {
    width: 145px;
    text-align: center;
    border: 1px solid var(--light);
}

li.categories:hover {
    background-color: var(--light);

}


/* Page Product Item */

.prod-item .route{
    padding-top: 35px;
    height: 55px;
}

.prod-item-cont{
    width: 80%;
    justify-self: center;
}

.prod-item-img,
.prod-item-info {
    height: 80dvh;
    margin-top: 20px !important;
}

.prod-item-info {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.prod-item-info .prod-card-description {
    height: auto;
}

.product-actions {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px
}

.product-actions button{
    border-radius: 15px;
}

.prod-card-characteristics{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--black);
}

.frequently-asked-questions{
    margin-bottom: 35px;
}

.frequently-asked-questions .accordion-button, .frequently-asked-questions h6{
    font-family: 'Roboto Flex', sans-serif!important;
    font-weight: 500;
}


@media (max-width: 1200px) {
    
    .prod-item-cont{
        width: 100%;
    }

    .prod-list-cont {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    li.prod-list-li {
        height: 600px;
        width: 400px;
    }

    .prod-card-characteristics{
        padding: 0;
    }
}

@media (max-width: 576px) {

    .login-mesagge{
        font-size: 14px;
        position: relative;
    }

    .prod-item .route{
        padding-top: 0;
        height: 20px;
    }

    li.categories {
        min-width: fit-content;
        padding: 2px 5px;
    }

    .prod-list-cont{
        padding: 0;
    }

    li.prod-list-li {
        height: 400px;
        max-width: 80dvw;
    }

    .prod-card-description .prod-name {
        align-items: center;     
    }

    .prod-card-description p{
        font-size: 16px!important;
    }

    .prod-card-description h4, .prod-card-description h5, .prod-card-characteristics h5{
        font-size: 14px;
        border: none!important;
    }

    .prod-item-info .prod-card-description h4, .prod-item-info .prod-card-description h5, .prod-item-info .prod-card-characteristics h5 {
        font-size: 16px;
    }

    .prod-item-img {
        height: 500px;
    }

    .prod-item-cont {
       width: 100%;
    }

    .prod-item-info{
        margin: 0!important;
        padding: 0;
    }

    .prod-item-info .prod-card-description {
        height: 50px;
    }
    
}