/* preview-cart */
#preview-cart {
    position: absolute;
    position: fixed;
    z-index: 98;
    width: 100vw;
    height: 100%;
    top: 0;
    background-color: #0000002b;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    transition: opacity 0.5s ease; /* Controla el fade */
}

#preview-cart.hidden {
    opacity: 0; /* Oculta el componente cuando está en estado de cierre */
    pointer-events: none; /* Desactiva la interacción cuando está oculto */
}

#preview-cart.visible {
    opacity: 1;
}

.prev-cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    z-index: 99;
    width: 400px;
    height: 100%;
    padding: 20px;
    background-color: white;
    right: -100%;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 10px var(--grey);
}

#preview-cart.show .prev-cart-content {
    animation-name: openCart;
}

#preview-cart.hide .prev-cart-content {
    animation-name: closeCart;
}

@keyframes openCart {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

@keyframes closeCart {
    from {
        right: 0;
    }
    to {
        right: -100%;
    }
}

.cart-title{
    align-self: flex-start;
}

.ul-cart{
     width: 100%;
     padding: 0;
}

.ul-cart li{
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 10px;
    border-bottom: 1px solid var(--light);
}

.ul-cart .prod-name{
    border: none;
}

.ul-cart .prod-name h5{
    font-size: 14px;
   font-weight: 400;
}

.ul-cart-img {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ul-cart-img img{
    height: 70%;
    object-fit: contain;
}

.cart-prod-info{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-prod-info .quantity-selector{
    height: 28px;
    margin: 8px 0;
}

.cart-prod-info .quantity-selector input{
    font-size: 14px;
}

.cart-prod-info .quantity-selector button{
    padding: 0;
}

.sub-total{
    font-size: 18px;
    font-weight: 400;
}

.ul-cart .delete{ 
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    display: flex;
    position: relative;
    top: 12px;
}

.delete img{
    height: 100%;
    background: #3a3a3a00;
    filter: invert(1);
}

.cart-total{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.cart-total h4, .cart-total h5, .cart-total h6{
    font-family: 'Roboto Flex';
    text-transform: uppercase;
    color: var(--black);
}

.prev-cart-content a, .prev-cart-content .light-button, .cart-info a, .cart-info button{
    width: 100%;
    border-radius: 20px;
    margin-top: 15px;
}


/* cart */

.title-page a{
    text-wrap-mode: nowrap;
}

.cart-prod-list .ul-cart li .ul-cart-img {
    width: 30%;
    min-width: 150px;
}

.cart-info{
    width: fit-content;
}
.cart-prod-list .ul-cart li .cart-prod-info {
    flex-direction: row;
    width:80%;
    gap: 15px;
}

.cart-prod-list .ul-cart li .delete {
    position: unset;
}

.cart-prod-list .ul-cart li .cart-prod-info .prod-name {
    justify-content: flex-start;
}

.cart-prod-list .ul-cart li .cart-prod-info .prod-name h5 {
    text-wrap-mode:wrap;
    padding: 0;
}


.cart-prod-info span:first-of-type {
    width: 50%;
}

.cart-prod-list .ul-cart li .cart-prod-info .quantity-selector {
    width: 100px;
}


@media (max-width: 768px) {
    .prev-cart-content {
        width: 80%;
    }
}

@media (max-width: 576px) {

    .cart-prod-list .ul-cart li{
        height: 140px;
    }

    .cart-prod-list .ul-cart li .ul-cart-img {
        min-width: 110px;
    }

    .cart-prod-list .ul-cart li.ul-cart-img img {
        height: 65%;
    }

    .cart-prod-list .ul-cart li .cart-prod-info {
        flex-direction: column;
        gap: 0;
    }

    .cart-prod-info span:first-of-type {
        width: auto;
        align-items: center
    }

}

.prod-chekout-container{

}