/* preview-cart */
#preview-cart {
    position: absolute;
    position: fixed;
    z-index: 98;
    width: 100vw;
    height: 100%;
    top: 0;
    background-color: #0000002b;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    transition: opacity 0.5s ease;
    /* Controla el fade */
}

#preview-cart.hidden {
    opacity: 0;
    /* Oculta el componente cuando está en estado de cierre */
    pointer-events: none;
    /* Desactiva la interacción cuando está oculto */
}

#preview-cart.visible {
    opacity: 1;
}

.prev-cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    z-index: 99;
    width: 400px;
    height: 100%;
    padding: 20px;
    padding-bottom: 0;
    background-color: white;
    right: -100%;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 10px var(--grey);
}

#preview-cart.show .prev-cart-content {
    animation-name: openCart;
}

#preview-cart.hide .prev-cart-content {
    animation-name: closeCart;
}

@keyframes openCart {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}

@keyframes closeCart {
    from {
        right: 0;
    }

    to {
        right: -100%;
    }
}

.cart-title {
    align-self: flex-start;
}

.ul-cart {
    width: 100%;
    padding: 0;
}

.ul-cart li {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 10px;
    border-bottom: 1px solid var(--light);
}

.ul-cart li:last-of-type {
    border-bottom: none;
}

.ul-cart .prod-name h5 {
    font-size: 14px;
    font-weight: 400;
    text-wrap-mode:wrap;
}

.ul-cart-img {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 75px;
}

.ul-cart-img .lazy-load-image-background{
    height: 100%;
    width: 100%;
}

.ul-cart-img img {
    height: 70%;
    object-fit: contain;
}

.cart-prod-info {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-prod-info .prod-info {
    display: flex;
    flex-direction: column;
}

.cart-prod-info .quantity-selector {
    height: 28px;
    margin: 8px 0;
}

.cart-prod-info .quantity-selector input {
    font-size: 14px;
}

.cart-prod-info .quantity-selector button {
    padding: 0;
}

.prod-cant {
    display: none;
}

.sub-total {
    font-size: 18px;
    font-weight: 400;
}

.ul-cart .delete {
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    display: flex;
    position: relative;
    top: 12px;
}

.delete img {
    height: 100%;
    background: #3a3a3a00;
    filter: invert(1);
}

.cart-total {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.cart-total h4,
.cart-total h5,
.cart-total h6 {
    font-family: 'Roboto Flex', sans-serif;
    text-transform: uppercase;
    color: var(--black);
    margin: 0;
}

.cart-info{  
    padding-bottom: 20px;
}

.prev-cart-content a,
.prev-cart-content .light-button,
.cart-info a,
.cart-info button {
    width: 100%;
    border-radius: 20px;
    margin-top: 15px;
}

.prev-cart-content .footer {
    width: 100%;
    height: auto;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px 0;
    border-top: 1px solid var(--light);

}

/* cart */

.title-page a {
    text-wrap-mode: nowrap;
}

.cart-prod-list .ul-cart li .ul-cart-img {
    width: 30%;
    min-width: 150px;
}

.cart-prod-list .ul-cart li .cart-prod-info {
    flex-direction: row;
    width: 80%;
    gap: 15px;
}

.prod-chekout-container .ul-cart li .cart-prod-info{
    align-items: start;
}

.cart-prod-list .ul-cart li .cart-prod-info .prod-info,
.ul-cart li .cart-prod-info,
.prod-chekout-container .ul-cart li .cart-prod-info .prod-info {
    width: 80%;
}

.cart-prod-list .ul-cart li .delete {
    position: unset;
}

.cart-prod-list .ul-cart li .cart-prod-info .prod-name h5,
.prod-chekout-container .ul-cart li .cart-prod-info .prod-name h5 {
    text-wrap-mode: wrap;
    padding: 0;
}

.cart-prod-list .ul-cart li .cart-prod-info span:first-of-type {
    width: 50%;
}

.cart-prod-info .quantity-selector,
.cart-prod-list .ul-cart li .cart-prod-info .quantity-selector{
    width: 100px;
}

.cart-info-container {
    margin-top: 15px;
    position: relative;
    width: calc(35.5em + ((60% - 37.5em)* .7));
    outline: 1px solid var(--light);
    padding: 20px;
    height: 100%;
}

.cart-info-container button{
    position: relative;
}

.empty-cart-warning{
    margin-top: 20px!important;
}

/* checkOut */

.checkOut{
    width: 100%;
    justify-self: center;
}

.checkout-body {
    width: 1200px !important;
    margin: 50px;
    margin-top: 25px;
}

.ckeckout.login-cont {
    min-height: unset;
}

.nav-checkout {
    padding-bottom: 35px !important;
}

.nav-checkout .title-page, .checkout-total-item .title-page {
    padding: 0;
}

.nav-checkout .title-page img {
    height: 55px;
    width: auto;
    object-fit: contain;
}

.checkout-button {
    padding: 2px 14px;
}

.no-button {
    padding: 0;
    background-color: transparent;
    text-decoration: underline #7d7d7d6e;
    text-underline-position: under;
    color: var(--grey);
    border: none;
    border-radius: 0;
}

.info-save {
    color: var(--grey);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkOut .item-cont span{
    margin-bottom: 5px;

}

.item-cont,
.opc-cont {
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.item-cont {
    padding: 15px 0;
    width: 100%;
    border-radius: 5px;
}

.option-cont {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    outline: 1px solid var(--light);
}

.option-info p:last-child {
    filter: contrast(0.5);
}

.option-info span p {
    font-size: 17px;
}

.option-cont.selected {
    background-color: #f0f0f0;
}

.selected .option-info p {
    filter: none;
}

.option-info {
    width: 500px;
}

.option-info span {
    display: flex;
    justify-content: space-between;
}

.prod-chekout-container {
    margin-left: 50px;
    padding-left: 20px !important;
    margin: auto;
    border: 1px solid var(--light);
    padding-bottom: 20px;
}

.prod-chekout-container .ul-cart li {
    height: 100px;
    justify-content: flex-start;
}

.prod-chekout-container .ul-cart .cart-prod-info .sub-total {
    display: none;
}

.prod-chekout-container .ul-cart .cart-prod-info .total p:first-of-type {
    display: none;

}

.prod-chekout-container .ul-cart .cart-prod-info .prod-cant {
    display: block;
}

.total-shipping {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.total-shipping p:first-child {
    text-transform: uppercase;
    font-size: 14px;
}

.checkout-total-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    line-height: normal;
    margin-bottom: 5px;
}

.checkout-total-item.total span:last-child {
    font-weight: 500;
    font-size: 18px;
}

.prod-chekout-container button{
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.checkout-total-item.total {
    border-top: 1px solid var(--grey);
    padding-top: 5px;
}

/* confirmation */

.confirmation-message {
    position: relative;
    border: 1px solid var(--light);
    padding: 20px;
}

.confirmation-message p:first-of-type{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px !important;
}

.order-details{  
    padding: 20px 20px 0 20px;
    border: 1px solid var(--light);
}

@media (max-width: 992px) {

    .cart-info-container{
        width: 100%;
    }
  
}

@media (max-width: 768px) {
    .prev-cart-content {
        width: 80%;
    }

    .checkout-body .nav-checkout .title-page h2 {
        white-space: unset;
        text-align: center;
    }  
}

@media (max-width: 576px) {

    .cart-prod-list .ul-cart li {
        height: 140px;
        min-height: fit-content;
        padding: 10px 0;
    }

    .cart-prod-list .ul-cart li .ul-cart-img {
        min-width: 110px;
    }

    .cart-prod-list .ul-cart li.ul-cart-img img {
        height: 65%;
    }

    .cart-prod-list .ul-cart li .cart-prod-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .cart-prod-list {
        width: 80%;
        padding: 0!important;
    }

    .cart-info{
        padding: 0!important;
    }

    .cart-prod-list .ul-cart li .cart-prod-info span:first-of-type {
        width: 100%;
    }

    .nav-checkout .title-page {
        flex-direction: column;
    }

    .checkout-body {
        padding: 0;
    }    

}