
.opc-adm {
    width: 100%;
    flex-direction: column;
    align-items: flex-start !important;
    margin: 0;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 15px !important;
}

.nav-opc {
    position: relative;
    border: 1px solid var(--light);
    min-height: calc(100dvh - 100px);
}

.nav-opc .title-page h6{
    white-space: normal!important;
}

.nav-opc>*:not(.back) {
    position: relative;
}

.opc-adm::-webkit-scrollbar,
.tox-toolbar.tox-toolbar--scrolling::-webkit-scrollbar {
    height: 2px;
}

.opc-adm::-webkit-scrollbar-thumb,
.tox-toolbar.tox-toolbar--scrolling:-webkit-scrollbar-thumb {
    background: white;
}

.opc-adm li {
    width: 100%;
    padding: 0 !important;
    border-radius: 0;
    border: 1px solid var(--black);
}

.opc-adm li button {
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-bottom: none;
    box-shadow: 2px 2px 3px #8080806e;
}

.opc-adm button:hover {
    background: var(--back-light);
    box-shadow: none;
}

.opc-adm li.active button {
    border-radius: 0!important;
    background-color: var(--black);
    color: white;
    box-shadow: 1px 1px 5px var(--light);
}

.opc-render {
    height: 100%;
    width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: center;
}

.opc-render-cont {
    height: 100%;
    margin-top: 30px;
    padding-left: 30px;
    min-height: fit-content;
}

.item-cont.accordion {
    gap: 0;
}

.shipping h6,
.img-form h6,
.fsq h6,
.prods h6,
.account h6,
.accordion-header h6 {
    font-family: 'Roboto Flex';
    text-transform: uppercase;
    font-size: 14px;
}

.button-cont {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.button-cont button {
    width: 190px;
    min-width: fit-content;
}

.button-cont select {
    padding: 0 15px;
}

.button-cont img {
    object-fit: contain;
    width: fit-content;
}

.admin-search {
    width: 100%;
    margin: auto;
}

.button-check {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 30px;
    border: 1px solid var(--light);
    border-radius: 5px;
}

.focused {
    background-color: #e7e7e759;
    border: none !important;
    outline: 1px solid var(--back-light);
    transition: background-color 0.3s ease;
}

button.accordion-button.collapsed:hover {
    background: var(--back-light);
}

/* order */

.item-info.buttons {
    justify-content: space-between;
    align-items: center;
}

.item-info.buttons .item-info {
    width: 280px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--black);
    border-radius: 6px;
    margin: 5px 0;
}

.item-info.buttons .item-info div {
    padding-left: 10px;
}

.item-info.users-button-cont {
    flex-direction: row;
}

/* lista de productos */
.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.list-acordeon:not(.faq) {
    width: 95%;
    margin: auto;
    padding: 0;
}

.li-product-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.li-product-cont-description {
    display: flex;
    flex-direction: column;
}

.li-product-cont .ul-row-nopadding,
.img-form .ul-row-nopadding,
.account .ul-row-nopadding {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 6px;
}

.li-product-cont .ul-row-nopadding:not(.ul-categories) li {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--light);
    padding: 5px;
    background-color: white;
}

.priority-mark {
    position: absolute;
    background-color: white;
    padding: 2px 5px;
    background: var(--light);
    bottom: 0;
    right: 0;
}

/* Agregar productos */

.add-prod span {
    display: flex;
    gap: 6px
}

.description-textarea {
    height: 300px;
    border: 1px solid var(--light);
    padding: 5px;
}

/* modificar precios */

.prods-price-cont {
    width: 75%;
}

.ul-prod-price {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 530px);
    gap: 5px;
    justify-content: space-between;
}

.ul-prod-price li {
    display: flex;
    gap: 10px;
    margin: 2px 0;
}

.ul-prod-price li div {
    display: flex;
    flex-wrap: wrap;
}

.ul-prod-price li div p {
    margin-right: 5px !important;
}

/* shipping */

.shipping .title-page {
    display: block;
}

.shipping form{
    padding: 0 5px;
}

.shipping form li {
    height: 40px;
    min-height: fit-content;
    padding: 15px 0;
}

.shipping form h6 {
    width: 165px;
    align-content: center;
}

.shipping .item-info {
    height: fit-content;
}

.description input {
    width: 300px;
}

/* account */
li.li-social {
    width: 250px;
    border: 1px solid var(--light);
    padding: 0 10px;
}

.account .item-cont {
    width: 600px;
    max-width: 100%;
}

.account input {
    width: 100%;
}

@media (max-width: 768px) {
    .opc-adm {
        flex-direction: row;
    }

    .opc-render-cont {
        padding-left: 0;
        margin-top: 0;
    }
}

@media (max-width: 576px) {

    .opc-adm {
        flex-direction: row;
    }

    .opc-render {
       padding: 0!important;
    }

    .opc-render-cont {
        padding-left: 0;
    }

    .item-form {
        display: flex;
        flex-direction: column;
    }

    .button-cont>*,
    .item-info.buttons>* {
        width: 100% !important;
    }

    .button-check {
        justify-content: center;
    }

    .ul-prod-price {
        display: contents;
    }

    .li-product-cont .ul-row-nopadding,
    .img-form .ul-row-nopadding,
    .account .ul-row-nopadding{
        justify-content: center;
    }


}