/* formulario direcciones */
.modal {
    position: absolute!important;
    width: 100dvw!important;
    height: 100dvh!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    background-color: #00000054!important;
}

.form-modal {
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* modal de mensajes */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
}

.modal-body {
    margin: 20px 0;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-cancel {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-confirm {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cancel:hover,
.btn-confirm:hover {
    opacity: 0.9;
}

/* formulario imagenes */

.img-form{
    flex-direction: column;
}

.img-form ul{
    gap: 10px;
}
.li-img-prod{
    display: flex;
    flex-direction: column;
    position: relative;
}

.li-img-prod li {
    justify-content: space-between;
}

.li-img-prod button {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background-color: var(--black);
    padding: 2px;
}

.li-img-prod li {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.li-img-prod .img-prod {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

