.banner-wholesalers {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.banner-wholesalers span:not(.line) {
    padding: 5px 21px;
    display: flex;
    flex-direction: column;
}

.banner-wholesalers h3 {
    font-size: clamp(1.56rem, 1.7vw, 2.1rem);
    line-height: 100%;
    color: var(--black);
    margin: 0;
}

.banner-wholesalers p {
    font-size: clamp(0.8rem, 0.9vw, 1.3rem);
    text-wrap-mode: nowrap;
    line-height: 100%;
    color: var(--black);
    margin: 0;
}

span.line {
    height: 1px;
    background: var(--light);
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    align-items: center;
}

/* carousel */
#carousel-home {
    margin-top: 15px;
}

#carousel-home-desktop {
    height: calc(100dvh - 300px);
    min-height: 600px;
    margin-bottom: 50px;
}

.carousel-inner,
.carousel-item {
    height: 100%;
    width: auto;
    object-fit: contain;
    justify-items: center;
}

.carousel-item img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    justify-self: center;
}

.carousel-control-prev,
.carousel-control-next {
    display: block;
}

.carousel-control-next {
    text-align: end;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%250000ff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev {
    text-align: start;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%250000ff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

/* Latest releases */

.latest-releases{
    position: relative;
    display: flex;
    flex-direction: column;
}

.custom-shape-divider-top-1687544512 {
    position: absolute;
    align-self: center;
    width: 2000px;
    min-width: 100dvw;
    height: calc(100% + 100px);
    top: -100px;
    background-color: #bbb3a98f;
    overflow: hidden;
    filter: opacity(0.5);
  }
  
  .custom-shape-divider-top-1687544512 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }
  
  .custom-shape-divider-top-1687544512 .shape-fill {
    fill: #FFFFFF;
  }

.latest-releases .title-page {
    padding-top: 0;
    position: relative;
}

.latest-releases .title-page h1 {
    font-size: clamp(1.3rem, 1.7vw, 2.1rem);
    color: var(--black);
}

.latest-releases-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    justify-content: center;
    gap: 5px;
   
}

.latest-releases-list {
    width: 330px;
    height: 500px;
    max-width: 90%;
    margin: 10px 0;
    position: relative;
}

.arrow-prod{
    position: absolute;
    width: 12px;
    height: auto;
    bottom: 10px;
    right: 5px;
    object-fit: contain;
    filter: contrast(0.3);
}

@media (max-width: 768px) {
    #carousel-home-mobile {
        height: calc(100dvh - 200px);
        max-height: 700px;
        min-height: 500px;
        margin-bottom: 50px;
    }

    .custom-shape-divider-top-1687544512 {
        height: calc(100% + 45px);
        top: -45px;
    }
}

@media (max-width: 576px) {

    .banner-wholesalers {
        flex-direction: column;
        align-items: baseline;
        padding: 0px;
        gap: 5px;
    }

    .banner-wholesalers .line:first-of-type {
        display: none;
    }

    .banner-wholesalers span:not(.line) {
        padding: 5px 0px;
    }

    #carousel-home {
        margin: 0;
    }

    .latest-releases-cont {
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        padding: 0;
    }

    .latest-releases-list {
        width: 200px;
        height: 300px;
    }
}

@media (max-width: 400px) {
    #carousel-home-mobile {
        max-height: 400px;
    }

    .latest-releases-cont {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .latest-releases-list {
        height: 280px;
        max-width: 95%;
        margin: 5px 0;
    }
}