#nav {
    background-color: var(--black) !important;
    color: white;
    height: 110px;
    position: relative;
    padding: 0;
}

.nav-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-logo {
    height: 80%;
    margin: auto;
}

.nav-cont a {
    height: 60%;
    margin: auto;
    display: flex;
    align-items: center;
}

.navbar-collapse {
    height: 100%;
    z-index: 99;
    background-color: var(--black);
    gap: 10px;
}

.navbar-collapse ul {
    align-items: center !important;
}

.nav-links {
    height: 50%;
}

ul.dropdown-menu.show {
    border: none;
    background-color: var(--black);
    border-radius: 0 0 6px 6px;
    height: auto;
    margin: 0;
}

#nav li a,
#nav li {
    color: white !important;
    font-weight: 200;
    border: 1px solid var(--black);
}

#nav li a:hover,
#nav li:hover {
    background-color: var(--black);
}

#nav .dropdown-menu li:hover,
#nav .dropdown-search li:hover{
    border-bottom: 1px solid var(--grey);
}

input.search-input {
    background: transparent;
    border: none;
    color: white;
    margin-left: 5px;
    border-bottom: 1px solid var(--grey);
}

input.search-input:focus-visible {
    outline: none;
}

.search-cont {
    position: relative;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-cont img {
    height: 16px;
}

ul.dropdown-search {
    position: absolute;
    z-index: 1;
    top: 27px;
    height: fit-content;
    background-color: var(--black);
    width: 100%;
    border-radius: 0 0 6px 6px;
    padding: 0 15px;
}

ul.dropdown-search li:first-child {
    margin-top: 15px;
}

ul.dropdown-search li:last-child {
    margin-bottom: 10px;
}

.dropdown-item:active,
.dropdown-item:hover {
    background-color: var(--black);
}


.navbar-toggler,
.navbar-toggler:focus {
    outline: none !important;
    border: none !important;
    transition: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url(../../assets/menu_icon.png) !important;
    padding: 0;
}

.icons-navbar {
    height: 28%;
    position: absolute;
    right: 10%;
    top: 15px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.button-cart,
.button-login {
    height: 85%;
    align-self: flex-end;
    background: none;
    border: none;
    padding: 0;
}

.cart-cont,
.user-cont {
    height: 100%;
    display: flex;
    gap: 2px;
}

.button-cart {
    position: relative;
}

.cart-num {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 20px;
    border: 1px solid rgb(167 157 157);
    border-radius: 50px;
    color: white;
    font-size: 12px;
    background-color: var(--black);
}

.button-login {
    display: flex;
    gap: 5px;
    background: none;
    border: none;
    color: white;
}

.button-login a {
    height: 100%;
    display: flex;
    align-items: flex-end;
    color: white;

}


@media (max-width: 768px) {

    #nav {
        height: 70px;
    }

    .nav-cont {
        flex-direction: row;
        align-items: center;
    }

    .nav-cont a {
        margin: 0;

    }

    .navbar-collapse {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100dvw;
        height: fit-content;
    }

    .dropdown-menu.drop-user.show,
    .navbar-collapse {
        height: 100dvh;
        background-image: url(/src/assets/tortuga-agua.png);
        background-repeat: no-repeat;
        background-blend-mode: overlay;
        background-position: bottom right;
        background-attachment: fixed;
        background-size: 50%;
    }

    .nav-logo {
        height: 100%;
        margin: 0;
    }

    .navbar-collapse ul {
        padding: 0 15px;
        align-items: flex-start !important;
        padding-bottom: 15px;
    }

    .nav-links a {
        height: auto;
    }

    ul.dropdown-search {
        position: relative;
        left: -15px;
        top: 0;
    }

    .icons-navbar {
        position: unset;
        height: 40%;
    }

    .button-text {
        display: none;
    }

    .drop-user {
        right: 0 !important;
        margin-top: -5px !important;
        margin-left: 70%
    }

}