#root {
  --black: #3a3a3a ;
  --grey: #7d7d7d;
  --light: rgb(226, 222, 210);
  --font-light: rgb(93 90 82);

}

html, .prev-cart-content{
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background:  rgb(226, 222, 210);
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
}

body{
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "DM Serif Text", serif;
  margin: 0;
}

p{
  margin: 0!important;
}

a{
  color: var(--black)!important;
  text-decoration: none!important;
}

a:visited{
  background-color: none;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

.ul-row-nopadding{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.ul-column-nopadding{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.h100{
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: contain;
}

.w100{
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

.fix-img{
  object-fit: contain;
}

.small {
  font-size: 0.875em!important;
}

button{
  border: none;
  padding: 5px 30px;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
}

.general-button {
  background: var(--black);
  color: white; 
}

.general-button:hover{
  background-color: #666666;
}

.light-button {
  background: var(--light);
  color: var(--black); 
}

.light-button:hover{
  background-color: rgb(237 236 230);
}

select {
  word-wrap: normal;
  border: 1px solid var(--light);
  padding: 2px;
  color: var(--black);
}

select option #select-options:focus {
  background-color: blue !important; /* Fuerza el color azul */
  color: white; /* Asegura que el texto sea legible */
}

.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Fondo blanco para mantener la coherencia visual */
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  z-index: 9999;
}

.loading-active .loading {
  opacity: 1;
  visibility: visible;
}

.app:not(.loading-active) .loading {
  opacity: 0;
  visibility: hidden;
}

.title-page{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 25px 0;
}

.title-page h1, .title-page h2, .title-page h4{
  margin: 0;
  text-transform: uppercase;
  /* filter: drop-shadow(2px 1px 2px #7d7d7dbf); */
  white-space: nowrap;
}

.route {
  display: flex;
  align-items: center;
  height: 20px;
  width: 100dvw;
  overflow: auto;
}

.route span {
  display: flex;
  width: auto;
  padding-right: 20px;
  gap: 5px;
  text-wrap-mode: nowrap;
}

.route::-webkit-scrollbar {
  height: 1px;
}

.route::-webkit-scrollbar-thumb {
  background: white;
}

.current-route{
  color: var(--grey);
}

.accordion-button:not(.collapsed){    
  background-color: transparent!important;
  color: var(---black);
}

h2.accordion-header:focus-visible {
  outline: none;
  
}

.accordion-button:focus{
  box-shadow: 0px 0px 5px 2px var(--light)!important;
  /* box-shadow:0px 0px 4px 1px #7d7d7d9c; */
}

.mobile{
  display: none;
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1520px!important;
  }
}

@media (max-width: 992px) {

  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 90dvw;
    padding: 0
  }
}


@media (max-width: 768px) {
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }

  .cont{
    padding: 0!important;
  }


  
}

@media (max-width: 576px) {
  .title-page{
    padding-bottom: 16px;
  }

  .route{
    font-size: 14px;
  }

  .col {
    padding: 0;
  }
}

