#root {
  --black: #3a3a3a ;
  --grey: #7d7d7d;
  --light: rgb(226, 222, 210);
  --font-light: rgb(93 90 82);

}

html, .prev-cart-content{
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background:  rgb(226, 222, 210);
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
}

body{
  font-family: "Roboto Flex", serif;
  font-weight: 300;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "DM Serif Text", serif;
  margin: 0;
}

p{
  margin: 0;
}

a{
  color: var(--black);
  text-decoration: none;
}

a:visited{
  background-color: none;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

.ul-row-nopadding{
  display: flex;
  align-items: center;
  gap: 10px;
}

.ul-column-nopadding{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.h100{
  height: 100%;
}

.w100{
  width: 100%;
}

.fix-img{
  object-fit: contain;
}

button{
  border: none;
  padding: 5px 30px;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}

.general-button {
  background: var(--black);
  color: white; 
}

.general-button:hover{
  background-color: #666666;
}

.light-button {
  background: var(--light);
  color: var(--black); 
}

.light-button:hover{
  background-color: rgb(237 236 230);
}

.loading{
  position: absolute;
  top: 0;
  width: 100dvw ;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  background-color: white;
}

.title-page{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 25px 0;
}

.title-page h1{
  text-transform: uppercase;
  /* filter: drop-shadow(2px 1px 2px #7d7d7dbf); */
  white-space: nowrap;
}

.route {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100dvw;
  overflow: auto;
}

.route span {
  display: flex;
  width: auto;
  padding-right: 20px;
  gap: 5px;
  text-wrap-mode: nowrap;
}

.route::-webkit-scrollbar {
  height: 1px;
}

.route::-webkit-scrollbar-thumb {
  background: white;
}

.current-route{
  color: var(--grey);
}

.accordion-button:not(.collapsed){    
  background-color: transparent!important;
  color: var(---black);
}

h2.accordion-header:focus-visible {
  outline: none;
  
}

.accordion-button:focus{
  box-shadow: 0px 0px 5px 2px var(--light);
  /* box-shadow:0px 0px 4px 1px #7d7d7d9c; */
}

.mobile{
  display: none;
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1620px;
  }
}

@media (max-width: 992px) {

  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 90dvw;
  }
}


@media (max-width: 768px) {
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
}
