#root {
  --black: #333333 ;
  
}

p{
  margin: 0;
}

a{
  text-decoration: none;
}

a:visited{
  color: inherit;
  background-color: none;
}

li{
  list-style: none;
}

.ul-row-nopadding{
  display: flex;
  padding: 0;
  gap: 10px;
}

.ul-column-nopadding{
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
}

.h100{
  height: 100%;
}

.w100{
  width: 100%;
}

.fix-img{
  object-fit: contain;
}


@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1520px;
  }
}
